$font__serif: "baskerville-display-pt", serif;
$font__sans-serif: "lato", sans-serif;
$font__display: "made_black";
$font__display--black: "made_black";
$font__display--regular: "made_regular";
$font__display--light: "made_light";
$font__main: $font__serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
