@font-face {
  font-family: "made_black";
  src: url("fonts/made_canvas_black-webfont.woff2") format("woff2"),
    url("fonts/made_canvas_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "made_light";
  src: url("fonts/made_canvas_light-webfont.woff2") format("woff2"),
    url("fonts/made_canvas_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "made_regular";
  src: url("fonts/made_canvas_regular-webfont.woff2") format("woff2"),
    url("fonts/made_canvas_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1);
  line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
